/* .row input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} */

.row {
    display: flex;
    flex-direction: row;
    min-height: 40px;
    flex-wrap: nowrap;
}

.box {
    display: block;
    box-shadow: 5px 2px 5px rgb(117, 116, 116);
    height: 40px;
    width: 40px;
    margin: 3px;
    border: 10px #aca3a3 !important;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}

.row .box:checked ~ .checkmark {

}

.white {
    background-image: radial-gradient(rgb(207, 200, 200), rgb(240, 240, 203));
}
.red {
    background-color: red;
}