@import 'fonts.css';

.main-container {
    display: relative;
    justify-content: center;
    padding: 4rem
}
.whole {
    display: flex;
    width: 100vw;
}
.main-h1 {
    font-family: Play;
    font-weight: 700;
    text-align: center;
    font-size: 72px;
    color: wheat
}
.main-h2 {
    font-family: Play;
    font-weight: 400;
    color: wheat;
    font-size: 54px;
    text-align: center
}
.main-h3 {
    font-family: Play;
    font-weight: 400;
    color: wheat;
    font-size: 24px
}
.main-a {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
.main-a:hover {
    cursor: pointer;
    color: brown
}
.main-p {
    
    font-family: Play;
    font-weight: 400;
    color: wheat;
}
.main-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}