.grid {
    margin-left: auto;
    margin-right: auto;
}

.invisible {
    display: none;
}

.hi-hat {
    grid-row: 1;
    margin-left: 0px
}

.openhh {
    grid-row: 2;
}

.snare {
    grid-row: 3;
}

.kick {
    grid-row: 4;
    margin-bottom: 10px;
}

.melody {
    margin-bottom: 10px;
}

.parent label {
    cursor: crosshair;
    display: flex;
}

.parent input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    height: 3.5vh;
    width: 3.5vh;
}

.parent label::before {
    content: '';
    width: 3.5vh;
    height: 3.5vh;
    border-radius: .3em;
    border: 10px #aca3a3;
    margin: .5rem;
    background: radial-gradient(#ada5a5, #595a5f);
    box-shadow: 0 0 10px rgb(117, 116, 116)
}

.parent label:hover::before,
.parent input[type="checkbox"]:hover + label::before {
    background: radial-gradient(rgba(226, 213, 139, 0.822), #9198e5a9);
    box-shadow: 0 0 13px rgb(224, 218, 153)
}

.parent input[type='checkbox']:checked + label::before {
    background: radial-gradient( rgb(243, 241, 148),#a1a7eb);
    box-shadow: 0 0 20px rgb(213, 226, 139); 
}
.parent {
    cursor: crosshair;
    display: flex;
}



.active {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    border: 10px solid hotpink;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 2rem;
    min-height: 40px;
    flex-wrap: nowrap;
}


.box {
    display: block;
    box-shadow: 5px 2px 5px rgb(117, 116, 116);
    height: 40px;
    width: 40px;
    margin: 3px;
    border: 10px #aca3a3 !important;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    color: #0079bf;
}

@keyframes FadeIn { 
    0% {
      opacity: 0;
      transform: scale(.1);
    }
  
    85% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
@keyframes FadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
      }
    
      85% {
        opacity: 1;
        transform: scale(1.05);
      }
      100% {
        opacity: 0;
        transform: scale(0.1);
      }
    }

.parent {
    animation: FadeIn 1s linear;
    animation-fill-mode: both;
  }


  
.hide-button {
    margin-left: 45vw;
    height: 3rem;
    width: 6rem;
}

.hide-chat {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #EC7263;
    border: none;
    width: 5vw;
    border-radius: 0;
    color: wheat;
    
}
.hide-chat:focus {
    outline: none;
}

.controls-container {
    display: flex;
}